{
  "extends": ["next", "prettier"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier"],
  "ignorePatterns": ["studio/*"],
  "rules": {
    "prettier/prettier": [
      2,
      {
        "arrowParens": "avoid",
        "endOfLine": "lf",
        "bracketSpacing": true,
        "semi": false,
        "singleQuote": false,
        "tabWidth": 2,
        "trailingComma": "none",
        "useTabs": false,
        "react/display-name": "off"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    },
    "react": {
      "version": "detect"
    }
  }
}
