@import "tailwindcss";

@theme {
  --animation-spin-slow: spin 30s linear infinite;
  --font-family-sans: var(--font-geist-sans);
  --font-family-mono: var(--font-geist-mono);
  --aspect-ratio-16-9: 16 / 9;
  --aspect-ratio-4-3: 4 / 3;
  --bg-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --bg-gradient-conic: conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops));
}
